@page "/aboutme"

<h1>About Me</h1>

<p>
    Hi! I'm a third year software engineering student attending Florida Gulf Coast University.
    I have worked with many different languages and technologies including C++, Python, linux, 
    Java, HTML/CSS, and more. I only started diving deep into this field in recent years,
    but I've been having a blast doing it and have been spending much of my free time
    studying. 
</p>