@page "/counter"

<h2 style="text-align:center">Counter</h2>

<p>Current count: @currentCount</p>

<div class="text-center">
    <button class="btn btn-primary" @onclick="IncrementCount" style="align-items:center">Click me</button>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
