@page "/"

<h1 style="font-family: serif; font-size:10vw; margin-bottom:5vw;">KYLE COTE</h1> 

<p>
    Welcome to my web page! This is a blazor web application that I put together following a 
    <a href="https://devblogs.microsoft.com/dotnet/azure-static-web-apps-with-blazor/" target="_blank"
       rel="noopener noreferrer">tutorial</a>, and have made quite a few changes since then.
</p>

<p>
    Feel free to browse, and maybe check back in occasionally to see what's new!
</p>