@page "/"

<h1>Hello, world!</h1>

Welcome to Kyle Cote's web app! <br />
Here you can find information about me and my experience, as well
as some of the projects I've created.  <br />
<br />
Check out Kyle Cote's coding guile!

<SurveyPrompt Title="How is Blazor working for you?" />
