@page "/"

<h1 style="font-family: serif; font-size:10vw; margin-bottom:5vw;">KYLE COTE</h1> 

<p>
    Welcome to my web page! This is a blazor web application that I put together following a 
    <a href="https://devblogs.microsoft.com/dotnet/azure-static-web-apps-with-blazor/" target="_blank"
       rel="noopener noreferrer">tutorial</a>, and have made quite a few changes since then.
</p>

<p>
    As of right now, this is really more of a way for me to study HTML/CSS than it is a web
     portfolio. I am currently working on building a seperate web app from scratch to act as
    a more official portfolio.
</p>