@page "/newpage"

<h1>IPO</h1>

<p>Input prompt</p>

Current grade: <br/><input @bind="CurrentGrade"/> <br/>
Assignment type weight: <br/> <input @bind="AssignmentWeight"/> <br />
Assignment type total current max points (before assignment): <br /> <input @bind="TotalMax"/> <br />
Assignment type total current actual points: <br /> <input @bind="TotalActual"/> <br />
Assignment max points: <br /> <input @bind="max"/> <br />
Assignment expected points: <br /> <input @bind="actual"/> <br />


<button class="btn btn-primary" @onclick="DoProcessing">Calculate expected grade</button>

<p>Output: @OutputString</p>

@code
{
    private string CurrentGrade {get; set;}
    private string AssignmentWeight {get; set;}
    private string TotalMax {get; set;}
    private string TotalActual {get; set;}
    private string max {get; set;}
    private string actual {get; set;}

    private string OutputString {get; set;}
    private void DoProcessing()

    {
        OutputString = CurrentGrade;
        /*double CurrentGrade = double.Parse(CurrentGrade);
        double AssignmentWeight = double.Parse(AssignmentWeight);
        double TotalMax = double.Parse(TotalMax);
        double TotalActual = double.Parse(TotalActual);
        double max = double.Parse(max);
        double actual = double.Parse(actual);

        double grade;
        grade = CurrentGrade - ((TotalActual / TotalMax * AssignmentWeight) - (((TotalActual + actual) / (TotalMax + max)) * AssignmentWeight));

        OutputString = grade.ToString();*/
    }
}
