@page "/todo"                                               // add page name for navmenu 

<h1>To Do: (@todos.Count(todo => !todo.IsDone))</h1>        <!-- Header with count of total tasks left -->


<div class="text-center">
    <ul style="list-style: none; padding-left:0px;">                              <!-- start unordered list (each line is a to do) -->
        @foreach (var todo in todos)                            // create a line for each to do
        {                                                       <!-- start foreach -->
            <li>                                                <!-- start list (single line) -->
                <input type="checkbox" @bind="todo.IsDone"/>    <!-- create checkbox -->
                <input @bind="todo.Title"/>                     <!-- create text box filled with todo title -->
            </li>                                               <!-- end list (single line) -->
        }                                                       <!-- end foreach -->
    </ul>                                                       <!-- end unordered list -->

    <input placeholder="Something to do" @bind="newToDo"/>      <!-- create input box -->
    <button @onclick="AddToDo">Add to do</button>               <!-- create button -->
</div>

@code {                                                     // start c# code
    private List<ToDoItem> todos = new();                   // initialize list todos
    private string newToDo;                                 // declare newToDo string

    private void AddToDo()                                  // declare AddToDo
    {                                                       // start AddToDo
        if (!string.IsNullOrWhiteSpace(newToDo))            // make sure text box has text in it
        {                                                   // start if
            todos.Add(new ToDoItem { Title = newToDo});     // add newToDo to list
            newToDo = string.Empty;                         // clear newToDo (clear box)
        }                                                   // end if
    }                                                       // end AddToDo
}                                                           <!-- end c# code -->