<div class="footer">
    <p>Connect on <a href="https://www.linkedin.com/in/kylecote-/" target="_blank" rel="noopener noreferrer">LinkedIn</a> 
        and <a href="https://github.com/kyleCodeE" target="_blank" rel="noopener noreferrer">GitHub!</a></p>
</div>