@inherits LayoutComponentBase

<div class="navbarLg">
    <NavMenuLg />
</div>

<div class="navbarSm">
    <NavMenuSm />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>
</div>

<div class="footer">
    <Footer />
</div>