<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Kyle Cote</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="aboutme">
                <span class="oi oi-list-rich" aria-hidden="true"></span> About Me
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch Data
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="gradecalc">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grade Calculators
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="todo">
                <span class="oi oi-list-rich" aria-hidden="true"></span> To Do
            </NavLink>
        </li>'

        <!-- cannot put video or iframe in ul -->

    </ul>
    <!--<video width="320" height="240" controls>
        <source src="https://www.youtube.com/embed/WFr58gsmNao">
    </video>-->
    <iframe width="210" height="157" id="ytvid" draggable="true"
        src="https://www.youtube.com/embed/FD7NpeVwdDw">
    </iframe>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
